TZ=Europe/Berlin
OCTOPI_KEY=ASDFGHJKLQWERTZUIOPYXCVBNM
OCTOPI_URL=http://octopi.local
TELEGRAM_API_KEY=123456789:qwertzuiopasdfghjklyxcvbnm
TELEGRAM_CHAT_ID=123456789
CUSTOM_SCRIPT_PATH=/tmp/example-custom-script.py
DEBUG=False